@import url('https://fonts.googleapis.com/css2?family=Merriweather:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Poppins:wght@300&display=swap');

*{
    padding: 0%;
    margin: 0%;
    text-decoration: none;
    font-family: 'Poppins', sans-serif;
    --transition: all 0.2s ease;
}
ins{
    color:red;
    background: #eaff00;;
}
.sidebar{
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 260px;
    background: #417AC9;
}
.sidebar .logo-details{
    height: 100px;
    width: 100%;
    display: flex;
    align-items: center;

}
.sidebar .logo-details i{
    font-size: 30px;
    color: #fff;
    height: 50px;
    min-width: 78px;
    text-align: center;
    line-height: 50px;
}
.sidebar .logo-details .logo_name{
    font-size: 40px;
    color: #fff;
    font-weight: 600;
    transition: 0.3s ease;
    transition-delay: 0.1s;

}
.lineBorder{
    border-bottom: #11101d 3px solid;
    padding-top: 10px;

}
.sidebar.close .logo-details .logo_name{
    opacity: 0;
    pointer-events: none;
    transition-delay: 0s;
    border:none;
}
.sidebar .nav-links li:hover{
    border: black 1px solid;
}
.sidebar.close .nav-links li:hover{
    border: none;
}
.sidebar.close .nav-links i:hover{
    color: #11101d;
    background-color: white;
    border:none;
}

.sidebar .nav-links{
    height: 100%;
    padding-top: 30px 0 150px 0;
    overflow: auto;
}
.sidebar .nav-links{
    overflow: visible;
    padding-top: 50px;
}
/*
.sidebar .nav-links li:hover{
    background-color: white;
}
*/
/*ne radi color za tkes kad predjes preko njega (li)*/

.sidebar .nav-links li{
    position: relative;
    list-style: none;
    line-height: 80px;
}
.sidebar .nav-links li .icon-link{
    display: flex;
    align-items: center;
    justify-content: space-between;

}
.sidebar .nav-links li i{
    height: 50px;
    min-width: 78px;
    text-align: center;
    line-height: 50px;
    color: #fff;
    font-size: 30px;
    cursor: pointer;

}
.sidebar .nav-links li a{
    display: flex;
    align-items: center;
    text-decoration: none;
}
.sidebar .nav-links li a .link_name{
    font-size: 18px;
    font-weight: 400;
    color: #fff;

}
.sidebar.close .nav-links li a .link_name{
    opacity: 0;
    pointer-events: none;
}
.sidebar .bottom-content {
    color:white;
    font-size: 15px;
    bottom: 0;
    display: inline;
    position: absolute;
    padding: 20px
}
/*KADA JE MENUBAR ZATVOREN DA PISE SA STRANE IME GDE KLIKCEMO*/
/*

.sidebar .nav-links  li .tooltip{
    position: absolute;
    top: -20px;
    left: 80px;
    z-index: 1;
    background: #fff;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
    padding: 6px 14px;
    font-size: 15px;
    white-space: nowrap;
    border-radius: 15px;
    opacity: 0;
    pointer-events: none;
    transition: 0s;
}
.sidebar.close  li:hover .tooltip{
    opacity: 1;
    pointer-events: auto;
    transition: var(--transition);
    top:50%;
    transform: translateY(-50%);
}
*/

/*COOCKIE NESTAJE KAD JE SAIDABR ZATVOREN*/
/*RESITI PROBLEM KAKO DA SE PRIKAZE KAO MANJI TEKST JEDAN ISPOD DRUGOG*/
.sidebar.close .bottom-content{
    display: none;      
}

.sidebar .bottom-content a{
    color: white;
    font-size: 15px;
}
.sidebar .bottom-content a:hover{
    color: red;
    
}

.home-section{
    position: relative;
    background: #E4E9F7;
    height: 100%;
    left: 250px;
    width: calc(100% - 250px);
    transition: all 0.5s ease;
}
.home-section .line{
    position: relative;
    background: #1E409F;
    height: 80px;
    width: 100% ;
    display: inline-flex;
}
.sidebar.close ~ .home-section{
    left: 78px;
    width: calc(100% - 78px);

}
.home-section .home-content{
    height: 60px;
    display: flex;
    align-items: center;

} 
.home-section .home-content .bx-left-indent{
    color: #ffffff;
    font-size: 40px;
    margin: 15px 0 0 15px;
    
}
.home-section .home-content2 .bx-sun, .bx-moon {
    color: #11101d;
    font-size: 35px;
    margin: 0 15px;
}
.home-section .home-content2 .bx-left-indent, .bx-chevrons-right {
    color: #ffffff;
    font-size: 40px;
    margin: 15px 0 0 15px;
}
.home-section .home-content2 .limbi-straine{
    font-size: 22px;
    color: #ffffff;
}
.home-section .home-content2 .limbi-straine .eng:hover,
.home-section .home-content2 .limbi-straine .srb:hover,
.home-section .home-content2 .limbi-straine .ro:hover{
    color: red;   
}
.home-section .home-content2 .limbi-straine .eng,
.home-section .home-content2 .limbi-straine .srb,
.home-section .home-content2 .limbi-straine .ro{
    color: white;

}
.home-section .home-content2{
    right: 0;
    padding-right: 150px;
    padding-top: 15px;
    display: inline-flex;
    position:absolute;
}
.home-section .home-content2 .box{
    background: yellow;
    width: 50px;
    height: 50px;
    border-radius: 10px;
    margin-right: 50px;

}
.home-section .home-content2 .box i{
    text-align: center;
    margin: auto;
    padding: 7px;
}
.home-section .home-content2 .limbi-straine{
    text-align: center;
    margin: auto;
    padding: 10px;
}
.home-section .main{
    padding-left: 50px;
    padding-top: 20px;

}
.home-section .main .setari-text{
    font-size: 30px;
    color: black;
    border-bottom: black 4px solid;
    margin-right: 80px;
}
/*MAIN SECTION*/
.test{
    margin: 50px;
}
.test h2{
    font-size: 35px;
    border-bottom: #11101d 5px solid;
    margin-right: 650px;
}

button{
    width: 150px;
    margin-top: 50px;
    padding: 10px 0;
    background: #6fd649;
    color: #fff;
    border: 0;
    outline: none;
    font-size: 20px;
    border-radius: 4px;
    cursor: pointer;
    box-shadow: 0 5px 5px rgba(0, 0, 0, 0.2);

}
button:hover{
    background: #B3FFAE;
    color: #11101d;
}
.testText{
    margin-top: 50px;
}






/*GO TO TOP*/
.buttonTop{
    width: 70px;
    height: 70px;
    background: rgb(252, 252, 252);
    border-radius: 15px;
    bottom: 0;
    right: 0;
    position: absolute;
    margin-bottom: 50px;
    margin-right: 20px;
    display: flex;
    align-items: center;
    justify-content: center;

}
.buttonTop img{
    text-align: center;
}

.fott{
    color: #11101d;
    font-size: 15px;
    background: whitesmoke;
    margin-top: 50px;
}   






